@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
    .connection-info__email-link
        font-size: 13px

    .header-section__main-info-slider
        padding: 50px 0

    .main-info-slider__text
        h1
            font-size: 40px
        p
            font-size: 16px

    .capability-line__icon
        margin-right: 8px

    .capability-line__icon-pic
        font-size: 45px

    .capability-line__icon-text
        font-size: 19px
        top: 24px
        left: 10px

    .capability-line__icon-text-3simbols
        left: 7.5px
        top: 24px
        font-size: 17px

    .capability-line__icon-text-1simbols
        left: 16px

// ≥992px
+media-breakpoint-down(md)
    .toggle-mnu
        display: block
        position: absolute
        top: 3px
        right: 10px

    .mobile-menu-link
        display: block
        color: $blue-dark
        font-family: RobotoRegular,sans-serif
        text-align: center
        position: relative
        &:hover
            color: $blue-dark
            text-decoration: none

    .menu-line__items-wrapper
        display: none



    .menu-line
        background-color: $accent
        border: none
        padding: 6px 0 5px
        // &:after
        //     content: "Меню"
        //     position: absolute
        //     display: inline-block
        //     right: 50%
        //     transform: translate(50%, 0)
        //     top: 10px
        //     color: $blue-dark
        //     font-family: RobotoRegular,sans-serif

    .header-section__contact-info
        padding: 30px 0px
        .connection-info__email
            display: none
        
        .logo__img
            width: 120px

    

    .services-section__items
        .col-lg-3:nth-child(1), .col-lg-3:nth-child(5),
        .col-lg-3:nth-child(4), .col-lg-3:nth-child(8)
            .services-section__item
                border: 5px solid #2f1a55
                // border-left: 10px solid #2f1a55
                // border-right: 10px solid #2f1a55
                &:hover
                    border: 5px solid $accent
                    // border-left: 5px solid $accent
                    // border-right: 5px solid $accent
    
    .news-section__title, .goverment-portals-section__title
        display: flex
        align-items: flex-start
        flex-wrap: wrap
        h2
            display: inline-block
            margin-right: 20px
            margin-top: 0
            margin-bottom: 20px

    .news-section__title-button
        margin-top: 0

    .footer-section__contact-info
        .partner-logo
            margin-top: 30px

    .footer-section__logo
        .logo__img
            max-width: 140px

    .footer-section__adress-info
        .contact-info__icon
            padding-top: 3px

// ≥768px
+media-breakpoint-down(sm)
    .news-section__item
        margin-bottom: 30px

// ≥576px
+media-breakpoint-down(xs)
    .general-section
        padding: 40px 0

    .footer-section
        padding: 50px 0

    h2
        font-size: 2.5em

    .header-section__contact-info
        padding: 20px 0px
        .logo__img
            width: 102px

    .header-section__capability-line
        padding: 25px 0 15px

    .capability-line__item
        margin-bottom: 10px
        justify-content: center



    .capability-line__text
        align-self: center
        width: 240px

    .main-info-slider__text
        h1
            font-size: 34px
        p
            font-size: 16px


    .footer-section__logo
        p
            // max-width: 350px
            margin-bottom: 30px

    .partner-logo
        display: none

    .footer-section__contact-info
        .connection-info
            margin-bottom: 20px

    .article-section
        .h2
            font-size: 28px


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)
    #mobile-menu, html.mm-wrapper_blocking .mm-wrapper__blocker
        display: none

    .mm-wrapper_opening .mm-menu_offcanvas.mm-menu_opened ~ .mm-slideout
        transform: translate(0px, 0px)

// ≤1200px
+media-breakpoint-up(xl)
