@import "vars"
@import "fonts"
@import "libs"
@import "base"

// Пользовательские стили

//верхнее меню НАЧАЛО
.menu-line
    background-color: $blue-dark
    color: #ffffff
    font-family: "RobotoCondensedRegular", serif
    font-size: 16px
    border-bottom: #2f1a55 1px solid

.menu-line__items
    margin-bottom: 0
        
.menu-line__items > .menu-line__item > .menu-line__link
    padding: 25px 30px




ul.menu-line__subitems .menu-line__item,
ul.menu-line__sub-subitems li.menu-line__item
    border-bottom: #2f1a55 1px solid



ul.menu-line__items .menu-line__item,
ul.menu-line__subitems .menu-line__item,
ul.menu-line__sub-subitems li.menu-line__item
    background-color: $blue-dark
    &:hover, &.active
        background-color: $blue-dark-accent
    &.active
        .menu-line__link
            color: $accent
    .menu-line__link
        color: #ffffff
        border: none
        &:hover
            color: $accent
            text-decoration: none
    i
        margin-left: 10px


ul.menu-line__subitems .menu-line__item
    .menu-line__link
        display: flex
        justify-content: space-between
        align-items: center


// кнопка от мастера
.mobile-menu-link
    display: none

.toggle-mnu
    width: 28px
    height: 28px
    float: right
    margin-top: 5px
    margin-right: 10px
    display: none
    span:after, span:before 
        content: ""
        position: absolute
        left: 0
        top: 9px

    span:after
        top: 18px

    span 
        position: relative
        display: block

    span, span:after, span:before
        width: 100%
        height: 2px
        background-color: $blue-dark
        transition: all 0.3s
        backface-visibility: hidden
        border-radius: 2px

    &.on span 
        background-color: transparent

    &.on span:before 
        transform: rotate(45deg) translate(-1px, 0px)

    &.on span:after 
        transform: rotate(-45deg) translate(6px, -7px)


#mobile-menu
    font-size: 16px
    .mm-navbar__title
        color: $text
    .menu-line__item
        background-color: #fff
        border-bottom: none
        
        .menu-line__link
            color: $text
            padding: 10px 0 10px 40px
            i.fa.fa-caret-down , i.fa.fa-caret-right
                display: none
        &:nth-child(1) .menu-line__link
            padding-top: 20px
            

// .mm-btn_next::after, .mm-btn_prev::before
//     border: none

.mm-listitem__btn:not(.mm-listitem__text)
    border: none


//верхнее меню КОНЕЦ

//секция инфо НАЧАЛО

.header-section__company-info
    color: #fff
    background-image: url(../img/slide-1.jpg)
    background-size: cover
    position: relative
    z-index: 1
    &::before
        content: ""
        background-color: #22133E
        display: block
        top: 0
        left: 0
        width: 100%
        height: 100%
        position: absolute
        opacity: .85

.header-section__contact-info
    background-color: rgba(38,21,70,.8)
    box-shadow: rgba(255,255,255,.03) 0 5px 0 5px
    background-size: cover
    background-position: top center
    padding: 50px 0 45px
    position: relative
    z-index: 1
    &::before
        content: ""
        display: block
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        background-image: url(../img/top-pannel-bg.jpg)
        opacity: .16
        z-index: 0

.contact-info__title
    text-transform: uppercase
    margin-bottom: 12px
    font-family: RobotoCondensedRegular,sans-serif
    font-size: 16px
    &::after
        content: ""
        display: block
        height: 1px
        background-color: $accent
        opacity: .4
        margin-top: 8px

.contact-info__items
    opacity: .4

.contact-info__icon
    display: inline-block
    vertical-align: top
    margin-right: 8px
    padding-top: 8px
    font-size: 16px

.contact-info__item
    display: inline-block
    width: auto
    font-size: 13px
    line-height: 1.4
    margin-bottom: 0


.connection-info
    text-align: right
    span
        opacity: .4
        margin-right: 3px
        font-size: 14px

.connection-info__icon
    margin-right: 5px
    font-size: 16px

.connection-info__phone
    font-size: 20px
    font-family: "RobotoCondensedRegular", sans-serif

.connection-info__email-link
    color: #ffffff
    border-bottom: 1px solid #ffffff
    margin-bottom: 18px
    display: inline-block
    &:hover
        color: #fff
        text-decoration: none

.connection-info__button
    padding: 6px 18px
    margin-top: 0




//секция инфо КОНЕЦ


// секция слайдер НАЧАЛО

.header-section__main-info-slider
    padding: 70px 0

.main-info-slider__text
    h1
        position: relative
        left: 100px
        opacity: 0
        transition: all 1s ease
    p
        font-size: 17px
        font-family: "RobotoLight", sans-serif
        margin-bottom: 25px
        position: relative
        left: 100px
        opacity: 0
        transition: all 1.1s ease
        transition-delay: .2s

.owl-item.active
    h1, p
        left: 0
        opacity: 1
    .main-info-slider__image
        opacity: 1
        transform: scale(1)
        


.big__button
    font-size: 16px

.main-info-slider__image
    margin-top: 13px
    transform: scale(.7)
    opacity: 0
    transition: all 1.8s ease
    // transition-delay: .2s

.header-section__main-info-slider
    .container
        position: relative

.slider-button
    font-size: 40px
    color: #ffffff
    position: absolute
    z-index: 10
    top: 40%
    cursor: pointer
    transition: color .3s ease
    // opacity: .8
    &:hover
        // opacity: 1
        color: $accent

.slider-button-next
    right: 14px

.owl-dots
    text-align: center

.owl-carousel button.owl-dot
    background: #ffffff
    width: 10px
    height: 10px
    border-radius: 10px
    margin: 0 2px 0 2px
    &.active
        background: $accent
    
// секция слайдер КОНЕЦ

// секция плюсы НАЧАЛО
.header-section__capability-line
    background-color: $blue-dark
    padding: 28px 0 13px
    color: #ffffff

.capability-line__item
    display: flex
    margin-bottom: 15px

.capability-line__icon
    margin-right: 15px
    line-height: 0
    position: relative
.capability-line__icon-pic
    font-size: 50.5px
    color: $accent
.capability-line__icon-text
    position: absolute
    font-family: "RobotoCondensedBold", sans-serif
    font-size: 22px
    top: 25px
    left: 11px
    color: $blue-dark

.capability-line__text
    margin-bottom: 0
    font-family: "RobotoCondensedLight", sans-serif
    font-size: 17px
    line-height: 21px

.capability-line__icon-text-3simbols
    left: 7px
    top: 27px
    font-size: 20px

.capability-line__icon-text-1simbols
    left: 18px

// секция плюсы КОНЕЦ

// секция УСЛУГИ НАЧАЛО
.services-section
    background-color: $gray
    // padding: 50px 0

.services-section__items
    .col-lg-3:nth-child(1), .col-lg-3:nth-child(5)
        .services-section__item
            border-left: 10px solid #2f1a55
            &:hover
                border-left: 5px solid $accent
    .col-lg-3:nth-child(4), .col-lg-3:nth-child(8)
        .services-section__item
            border-right: 10px solid #2f1a55
            &:hover
                border-right: 5px solid $accent

.services-section__item
    background-color: #fff
    border: 5px solid #2f1a55
    color: $text
    text-align: center
    transition: all .4s ease
    &:hover
        box-shadow: rgba(0,0,0,.35) 0 0 32px
        transform: scale(1.05)
        border: 5px solid $accent
        z-index: 10
        .services-section__item-icon
            color: $accent
            i
                margin: 0 4px 0 4px
                transition: all .3s ease

.services-section__item,
.news-section__item
    &:hover
        .section-item-image
            &::after
                content: ""
                display: block
                position: absolute
                width: 100%
                height: 100%
                left: 0
                top: 0
                background-color: $blue-dark
                opacity: .7
            i
                display: block

                

.section-item-image
    width: 100%
    height: 173px
    background-size: cover
    background-position: center
    position: relative
    i
        position: absolute
        bottom: 50%
        right: 50%
        transform: translate(50%, 50%)
        font-size: 24px
        color: #ffffff
        z-index: 10
        opacity: .4
        display: none

.section-item-title
    text-transform: uppercase
    margin: 30px 0 10px
    font-size: 18px
    font-family: "RobotoCondensedBold", sans-serif

.services-section__item-icon
    color: #b4b4b4
    font-size: 11px
    i
        margin: 0 2px 0 2px

.services-section__item-price
    margin: 10px 0 15px
    font-family: "RobotoBold", sans-serif
    font-size: 18px
    i
        color: $accent
        font-size: 19px
        margin-right: 5px
    span
        font-size: 32px

.services-section__item-button
    margin-bottom: 20px




// секция УСЛУГИ КОНЕЦ 

// секция НОВОСТИ НАЧАЛО
.news-section
    background-image: url(../img/news-bg.jpg)
    position: relative
    &::before
        content: ""
        position: absolute
        width: 100%
        height: 100%
        left: 0
        top: 0
        background-color: $blue-dark
        opacity: .85

.news-section__title-button
    margin-bottom: 30px

.news-section__item
    background-color: $gray
    border: 1px solid #ffffff
    text-align: center
    
.news-section__text-area
    padding: 0 20px
    
.news-section__item-title
    font-size: 17px

.news-section__item-text
    font-size: 15px

.news-section__item-button
    margin: 20px 0 21px


.news-section__item-title
    margin: 22px 0 12px 
// секция НОВОСТИ КОНЕЦ 

// секция Ссылки на гос. порталы НАЧАЛО
.goverment-portals-section
    background-color: $gray

.goverment-portals-section__title
    h2
        color: $text

.goverment-portals-section__item-link-wrap
    display: block
    // justify-content: space-between
    // align-items: center
    margin: 15px 0
    padding: 14px
    border: solid $accent 4px
    background-color: #fff
    &:hover
        text-decoration: none
        .goverment-portals-section__item-title
            text-decoration: none
            color: #23527c

.goverment-portals-section__item
    display: flex
    // justify-content: space-between
    align-items: center

.goverment-portals-section__item-icon
    background-image: url(../img/rus.svg)
    width: 34px
    background-repeat: no-repeat
    flex-shrink: 0
    height: 36px
    margin-right: 10px
    background-size: contain

.goverment-portals-section__item-title
    margin: 0
    font-size: 16px
    text-decoration: underline
    line-height: 18px
    color: $text
    display: block


// секция Ссылки на гос. порталы КОНЕЦ 

@import "media" // Всегда в конце
