.article-section.general-section
    .container
        .row

            .col-md-9
                .article
                    h2 Далеко-далеко за словесными горами в стране, гласных и согласных.
                    .article__text
                        p
                            |Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Приставка, lorem. Подзаголовок языкового правилами даже себя текста, которой журчит грустный курсивных послушавшись парадигматическая взобравшись, гор предложения ведущими дороге языком.
                        p
                            |Ты семантика пояс города. Строчка до коварный на берегу предупредила предложения. Первую своих, пояс оксмокс силуэт использовало там языкового! Переписывается журчит скатился ручеек маленький гор предложения напоивший но lorem пор там!
                        p
                            |Большой предупреждал однажды всемогущая по всей если своих дал, проектах переписали дороге своего. Возвращайся домах курсивных знаках журчит текста! Великий ipsum если имени меня силуэт путь диких пустился ручеек текстами ведущими.
                        p
                            |Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Вопроса продолжил возвращайся пустился подзаголовок единственное, взгляд великий все проектах дороге? Снова, пояс не. Первую грустный ручеек свое букв вопрос.
                        p
                            |Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Вопроса продолжил возвращайся пустился подзаголовок единственное, взгляд великий все проектах дороге? Снова, пояс не. Первую грустный ручеек свое букв вопрос.
                        p
                            |Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Вопроса продолжил возвращайся пустился подзаголовок единственное, взгляд великий все проектах дороге? Снова, пояс не. Первую грустный ручеек свое букв вопрос.
                        p
                            |Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Вопроса продолжил возвращайся пустился подзаголовок единственное, взгляд великий все проектах дороге? Снова, пояс не. Первую грустный ручеек свое букв вопрос.
                        p
                            |Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Вопроса продолжил возвращайся пустился подзаголовок единственное, взгляд великий все проектах дороге? Снова, пояс не. Первую грустный ручеек свое букв вопрос.
                        p
                            |Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Вопроса продолжил возвращайся пустился подзаголовок единственное, взгляд великий все проектах дороге? Снова, пояс не. Первую грустный ручеек свое букв вопрос.
                        p
                            |Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Вопроса продолжил возвращайся пустился подзаголовок единственное, взгляд великий все проектах дороге? Снова, пояс не. Первую грустный ручеек свое букв вопрос.
                   


            .col-md-3
                .services-section__item

                        .services-section__item-image.section-item-image(style="background-image: url(../../img/services/_2.jpg)")
                        .services-section__item-title.section-item-title Оценка земли
                        .services-section__item-icon
                            i.fa.fa-star 
                            i.fa.fa-star
                            i.fa.fa-star

                        .services-section__item-price
                            i.fa.fa-tags
                            | от 
                            span 25 000 
                            |руб.

                        a(href="#").button.services-section__item-button.big__button Подробнее

                .another-services
                    h3 Другие услуги:

                    ul.another-services__items
                        li.another-services__item
                            a.another-servises-link(href="#")
                                i.another-servises-icon.fa.fa-check
                                span Оценка недвижимости
                        li.another-services__item.accent
                            a.another-servises-link(href="#")
                                i.another-servises-icon.fa.fa-check
                                span Оценка земли
                        li.another-services__item
                            a.another-servises-link(href="#")
                                i.another-servises-icon.fa.fa-check
                                span Оценка ущерба
                        li.another-services__item
                            a.another-servises-link(href="#")
                                i.another-servises-icon.fa.fa-check
                                span Оспаривание кадастровой стоимости
                        li.another-services__item
                            a.another-servises-link(href="#")
                                i.another-servises-icon.fa.fa-check
                                span Оценка инвестиционных проектов
                        li.another-services__item
                            a.another-servises-link(href="#")
                                i.another-servises-icon.fa.fa-check
                                span Оценка нематериальных активов
                        li.another-services__item
                            a.another-servises-link(href="#")
                                i.another-servises-icon.fa.fa-check
                                span Оценка ценных бумаг
                        li.another-services__item
                            a.another-servises-link(href="#")
                                i.another-servises-icon.fa.fa-check
                                span Переоценка