footer.footer-section

        .footer-section__contact-info
            .container
                .row.justify-content-between

                    .col-lg-2.col-auto.order-first.align-self-start.col-sm-6.col-12

                        .footer-section__logo
                            a(href="#").logo
                                img(src="../../img/logo.png", alt="logo").img-responsive.logo__img
                            p
                                |Оценка любого имущества, активов, бизнеса, убытков, оспаривание кадастровой стоимости, ценных бумаг в Москве и Московской области.
                    
                    .col-lg-3.offset-lg-1.order-lg-1.order-2.col-sm-6

                        .footer-section__adress-info
                            .contact-info__title Адреса организации:

                            .contact-info__items

                                .contact-info__item
                                    i.contact-info__icon.fa.fa-map-marker
                                    p.contact-info__item-text
                                        |г. Москва, ул. Соколовского, д. 3,
                                        
                                        | офис № 305

                                .contact-info__item
                                    i.contact-info__icon.fa.fa-map-marker
                                    p.contact-info__item-text
                                        |г. Москва, ул. Соколовского, д. 3,

                                        | офис № 305

                        .footer-section__working-hours-info
                            .contact-info__title Время работы:

                            .contact-info__items
                                .contact-info__item
                                    i.contact-info__icon.fa.fa-clock-o
                                    p.contact-info__item-text
                                        |пн-пт c 10-00 - 18-00;
                                        br
                                        |перерыв с 13-00 до 14-00
                                        br
                                        |сб-вс выходной день.

                    .col-lg-3.order-lg-2.order-3.col-sm-6
                    
                        .footer-section__company-servises
                            .contact-info__title Услуги компании:

                            ul.company-servises__items
                                li.company-servises__item
                                    a.company-servises-link(href="#")
                                        i.company-servises-icon.fa.fa-check
                                        span Оценка недвижимости
                                li.company-servises__item
                                    a.company-servises-link(href="#")
                                        i.company-servises-icon.fa.fa-check
                                        span Оценка земли
                                li.company-servises__item
                                    a.company-servises-link(href="#")
                                        i.company-servises-icon.fa.fa-check
                                        span Оценка ущерба
                                li.company-servises__item
                                    a.company-servises-link(href="#")
                                        i.company-servises-icon.fa.fa-check
                                        span Оспаривание кадастровой стоимости
                                li.company-servises__item
                                    a.company-servises-link(href="#")
                                        i.company-servises-icon.fa.fa-check
                                        span Оценка инвестиционных проектов
                                li.company-servises__item
                                    a.company-servises-link(href="#")
                                        i.company-servises-icon.fa.fa-check
                                        span Оценка нематериальных активов
                                li.company-servises__item
                                    a.company-servises-link(href="#")
                                        i.company-servises-icon.fa.fa-check
                                        span Оценка ценных бумаг
                                li.company-servises__item
                                    a.company-servises-link(href="#")
                                        i.company-servises-icon.fa.fa-check
                                        span Переоценка

                    .col-lg-3.order-lg-3.order-1.col-sm-6
                    
                        .connection-info

                            .connection-info__phone
                                span
                                    i.connection-info__icon.fa.fa-phone
                                    |8 (929)
                                |333-777-88, 333-777-88

                            .connection-info__email
                                span
                                    i.connection-info__icon.fa.fa-envelope
                                    |E-Mail:
                                a(href="#").connection-info__email-link emailsender@gmail.com

                            a(href="#callback" data-form="Нижняя форма").button.connection-info__button Заказать звонок

                        .partner-logo
                            a(href="#").partner-logo__link
                                p Создание сайта
                                img(src="../../img/cwebs.jpg", alt="alt").partner-logo__img.img-responsive

