header.header-section
    .header-section__menu-line
        .container
            .row
                .col
                    .header-section__menu-line-iteams-wrapper
                        ul.header-section__menu-line-iteams.sf-menu
                            li.header-section__menu-line-item
                                a(href="#").header-section__menu-link
                                    |Главная

                            li.header-section__menu-line-item
                                a(href="#").header-section__menu-link
                                    |О Компании

                            li.header-section__menu-line-item
                                a(href="#").header-section__menu-link
                                    |Услуги и стоимость

                            li.header-section__menu-line-item
                                a(href="#").header-section__menu-link
                                    |Сертификаты

                            li.header-section__menu-line-item
                                a(href="#").header-section__menu-link
                                    |Статьи

                            li.header-section__menu-line-item
                                a(href="#").header-section__menu-link
                                    |Контакты
//- img(src="img/cards/header_bg.jpg" alt="alt")
//- div.button вверх up