header.header-section.header-inside-section
    .header-section__main-menu
        .menu-line

            a(href="#mobile-menu").mobile-menu-link Меню
            a(href="#mobile-menu").toggle-mnu
                span

            .container
                .row.justify-content-center
                    .col-lg-auto
                        
                        .menu-line__items-wrapper
                            ul.menu-line__items.sf-menu
                                li.menu-line__item.active
                                    a(href="#").menu-line__link
                                        |Главная

                                li.menu-line__item
                                    a(href="#").menu-line__link
                                        |О компании

                                li.menu-line__item
                                    a(href="#").menu-line__link
                                        span Услуги и стоимость
                                        i.fa.fa-caret-down
                                    ul.menu-line__subitems

                                        li.menu-line__item
                                                a(href="#").menu-line__link
                                                    |Элемент 1

                                        li.menu-line__item
                                            a(href="#").menu-line__link
                                                |Элемент 2 tooo big
                                                i.fa.fa-caret-right(aria-hidden="true")
                                            ul.menu-line__sub-subitems
                                            
                                                li.menu-line__item
                                                    a(href="#").menu-line__link
                                                        |Элемент 1

                                                li.menu-line__item
                                                    a(href="#").menu-line__link
                                                        |Элемент 3

                                        li.menu-line__item
                                            a(href="#").menu-line__link
                                                |Элемент 3

                                li.menu-line__item
                                    a(href="#").menu-line__link
                                        |Сертификаты

                                li.menu-line__item
                                    a(href="#").menu-line__link
                                        |Статьи

                                li.menu-line__item
                                    a(href="#").menu-line__link
                                        |Контакты

    .header-section__company-info

        .header-section__contact-info
            .container
                .row.justify-content-between

                    .col-lg-2.col-auto.align-self-center

                        .header-section__logo
                            a(href="#").logo
                                img(src="../../img/logo.png", alt="logo").img-responsive.logo__img
                    
                    .col-lg-4.d-none.d-lg-block

                        .header-section__adress-info
                            .contact-info__title Адреса организации:

                            .contact-info__items
                                .row.justify-content-start
                                    .col-md-6
                                        i.contact-info__icon.fa.fa-map-marker
                                        p.contact-info__item-text
                                            |г. Москва,
                                            br 
                                            |ул. Соколовского,
                                            br
                                            | д. 3, офис № 305

                                    .col-xl-5.col-md-6
                                        i.contact-info__icon.fa.fa-map-marker
                                        p.contact-info__item-text
                                            |г. Москва,
                                            br 
                                            |ул. Соколовского,
                                            br
                                            | д. 3, офис № 305

                    .col-lg-3.d-none.d-lg-block
                    
                        .header-section__working-hours-info
                            .contact-info__title Время работы:

                            .contact-info__items
                                .row
                                    .col-xl-9.col-auto
                                        i.contact-info__icon.fa.fa-clock-o
                                        p.contact-info__item-text
                                            |пн-пт c 10-00 - 18-00;
                                            br
                                            |перерыв с 13-00 до 14-00
                                            br
                                            |сб-вс выходной день.

                    .col-lg-3.col
                    
                        .connection-info

                            .connection-info__phone
                                span
                                    i.connection-info__icon.fa.fa-phone
                                    |8 (929)
                                |333-777-88, 333-777-88

                            .connection-info__email
                                span
                                    i.connection-info__icon.fa.fa-envelope
                                    |E-Mail:
                                a(href="#").connection-info__email-link emailsender@gmail.com

                            a(href="#").button.connection-info__button Заказать звонок

        .header-section__main-info-slider
            .container

                i.fa.fa-angle-left.slider-button.slider-button-prev
                i.fa.fa-angle-right.slider-button.slider-button-next

                .main-info-slider.owl-carousel

                    .main-info-slider__iteam
                        .row.justify-content-center

                            .col-10
                                .main-info-slider__text
                                    h1
                                        span.accent Первая оценочная компания Москвы
                                    a.button.main-info-slider__button(href="#") Список услуг

                    .main-info-slider__iteam

                        .row.justify-content-center

                            .col-10
                                .main-info-slider__text
                                    h1
                                        span.accent Первая оценочная компания Москвы
                                    a.button.main-info-slider__button(href="#") Список услуг

                    .main-info-slider__iteam
                        .row.justify-content-center

                            .col-10
                                .main-info-slider__text
                                    h1
                                        span.accent Первая оценочная компания Москвы
                                    a.button.main-info-slider__button(href="#") Список услуг