header.header-section
    .menu-line
        .container
            .row
                .col
                    .menu-line__iteams-wrapper
                        ul.menu-line__iteams.sf-menu
                            li.menu-line__item
                                a(href="#").menu-line__link
                                    |Главная

                            li.menu-line__item
                                a(href="#").menu-line__link
                                    |О Компании

                            li.menu-line__item
                                a(href="#").menu-line__link
                                    |Услуги и стоимость
                                    ul.menu-line__subiteams
                                        li.menu-line__item
                                            a(href="#").menu-line__link
                                                |Элемент 1

                                        li.menu-line__item
                                            a(href="#").menu-line__link
                                                |Элемент 3

                            li.menu-line__item
                                a(href="#").menu-line__link
                                    |Сертификаты

                            li.menu-line__item
                                a(href="#").menu-line__link
                                    |Статьи

                            li.menu-line__item
                                a(href="#").menu-line__link
                                    |Контакты