.news-section.general-section
    .container

        .row
            .col-lg-3

                .news-section__title
                    h2 Новости компании:
                    a(href="#").button.big__button.news-section__title-button Все новости

            .col-lg-3.col-md-4

                .news-section__item

                    .news-section__item-image.section-item-image(style="background-image: url(././img/services/_1.jpg)")
                        i.fa.fa-eye

                    .news-section__text-area
                        .news-section__item-title.section-item-title Заголовок новости номер один раз
                        .news-section__item-text
                            |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...

                    a(href="/inside.html").button.news-section__item-button.big__button Подробнее

            .col-lg-3.col-md-4

                .news-section__item

                    .news-section__item-image.section-item-image(style="background-image: url(././img/services/_2.jpg)")
                        i.fa.fa-eye

                    .news-section__text-area
                        .news-section__item-title.section-item-title Заголовок новости два
                        .news-section__item-text
                            |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...

                    a(href="/inside.html").button.news-section__item-button.big__button Подробнее

            .col-lg-3.col-md-4

                .news-section__item

                    .news-section__item-image.section-item-image(style="background-image: url(././img/services/_3.jpg)")
                        i.fa.fa-eye
                    .news-section__text-area
                        .news-section__item-title.section-item-title Заголовок новости номер один раз
                        .news-section__item-text
                            |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...

                    a(href="/inside.html").button.news-section__item-button.big__button Подробнее