.services-section
    .container

        .services-section__items
            .row.no-gutters

                .col-lg-3.offset-lg-0.col-md-5.offset-md-1.col-sm-6
                    .services-section__item

                        .services-section__item-image(style="background-image: url(../../img/services/_1.jpg)")
                            i.fa.fa-eye
                        .services-section__item-title Оценка недвижимости
                        .services-section__item-icon
                            i.fa.fa-star 
                            i.fa.fa-star
                            i.fa.fa-star

                        .services-section__item-price
                            i.fa.fa-tags
                            | от 
                            span 1 700 
                            |руб.

                        a(href="#").button.services-section__item-button Подробнее


                .col-lg-3.col-sm-6.col-md-5
                    .services-section__item

                        .services-section__item-image(style="background-image: url(../../img/services/_2.jpg)")
                            i.fa.fa-eye
                        .services-section__item-title Оценка земли
                        .services-section__item-icon
                            i.fa.fa-star 
                            i.fa.fa-star
                            i.fa.fa-star

                        .services-section__item-price
                            i.fa.fa-tags
                            | от 
                            span 25 000 
                            |руб.

                        a(href="#").button.services-section__item-button Подробнее


                .col-lg-3.offset-lg-0.col-md-5.offset-md-1.col-sm-6
                    .services-section__item

                        .services-section__item-image(style="background-image: url(../../img/services/_3.jpg)")
                            i.fa.fa-eye
                        .services-section__item-title Оспаривание кадастровой стоимости
                        .services-section__item-icon
                            i.fa.fa-star 
                            i.fa.fa-star
                            i.fa.fa-star

                        .services-section__item-price
                            i.fa.fa-tags
                            | от 
                            span 17 000 
                            |руб.

                        a(href="#").button.services-section__item-button Подробнее


                .col-lg-3.col-sm-6.col-md-5
                    .services-section__item

                        .services-section__item-image(style="background-image: url(../../img/services/_4.jpg)")
                            i.fa.fa-eye
                        .services-section__item-title Оценка бизнеса
                        .services-section__item-icon
                            i.fa.fa-star 
                            i.fa.fa-star
                            i.fa.fa-star

                        .services-section__item-price
                            i.fa.fa-tags
                            | от 
                            span 8 500 
                            |руб.

                        a(href="#").button.services-section__item-button Подробнее


                .col-lg-3.offset-lg-0.col-md-5.offset-md-1.col-sm-6
                    .services-section__item

                        .services-section__item-image(style="background-image: url(../../img/services/_5.jpg)")
                            i.fa.fa-eye
                        .services-section__item-title Оценка инвестиционных проектов
                        .services-section__item-icon
                            i.fa.fa-star 
                            i.fa.fa-star
                            i.fa.fa-star

                        .services-section__item-price
                            i.fa.fa-tags
                            | от 
                            span 1 950 
                            |руб.

                        a(href="#").button.services-section__item-button Подробнее

                    
                .col-lg-3.col-sm-6.col-md-5
                    .services-section__item

                        .services-section__item-image(style="background-image: url(../../img/services/_6.jpg)")
                            i.fa.fa-eye
                        .services-section__item-title Оценка нематериальных активов
                        .services-section__item-icon
                            i.fa.fa-star 
                            i.fa.fa-star
                            i.fa.fa-star

                        .services-section__item-price
                            i.fa.fa-tags
                            | от 
                            span 999
                            |руб.

                        a(href="#").button.services-section__item-button Подробнее


                .col-lg-3.offset-lg-0.col-md-5.offset-md-1.col-sm-6
                    .services-section__item
        
                        .services-section__item-image(style="background-image: url(../../img/services/_7.jpg)")
                            i.fa.fa-eye
                        .services-section__item-title Оценка ценных бумаг
                        .services-section__item-icon
                            i.fa.fa-star 
                            i.fa.fa-star
                            i.fa.fa-star

                        .services-section__item-price
                            i.fa.fa-tags
                            | от 
                            span 143 600 
                            |руб.

                        a(href="#").button.services-section__item-button Подробнее

                    
                .col-lg-3.col-sm-6.col-md-5
                    .services-section__item

                        .services-section__item-image(style="background-image: url(../../img/services/_8.jpg)")
                            i.fa.fa-eye
                        .services-section__item-title Переоценка
                        .services-section__item-icon
                            i.fa.fa-star 
                            i.fa.fa-star
                            i.fa.fa-star

                        .services-section__item-price
                            i.fa.fa-tags
                            | от 
                            span 1 700 
                            |руб.

                        a(href="#").button.services-section__item-button Подробнее



